.login-box-component {
    padding: 0;
}
.text-wrapper{
    padding-top: 30px;
    width: 80%;
    margin: 30px auto;
}
.login-input {
    display: block !important;
    margin: 10px auto;
    width: 100%;
}
.login-raised-btn{
    display: block !important;
    width: 90%;
    margin:30px auto;
}
.login-flat-btn {
    display: block !important;
    margin: 0 auto !important;
}